.TodoList {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.TodoList-Main button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Button {
    background: rgba(0, 0, 0, 0.054);
    cursor: pointer;
    margin: 0 .5em;
    padding: 1.0em;
}

.TodoMessage {
    padding: 10px;
    text-align: center;
}

.info {
    color: #737373;
}

.todoapp h1 {
    color: rgba(175, 47, 47, 0.25);
    white-space: nowrap;
}

/* From https://loading.io/css/ */
.lds-ring {
    display: flex;
    position: relative;
    margin: auto;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #6b6666 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    padding: 0;
}

.clear-completed {
    padding: .8em;
    z-index: 1;
}

.save-pod {
    background: #7C4DFF;
    color: white;
    cursor: pointer;
    padding: .8em;
    z-index: 1;
}

.BrowserList {
    padding: 0;
}

.BrowserList li:nth-child(odd){
    background-color: #dadada66;
}

.PreviewList {
    margin: 1em;
}
